* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: #101923;
  color: #fff;
}

.table {
  background-color: #101923 !important;
  color: #fff !important;
}

.modal-content {
  background-color: #fff;
  color: #101923;
}

.btn-primary,
.btn-warning,
.btn-danger {
  margin-right: 10px;
}
.testy,
#testy {
  background-color: red;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
